*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin-left: 10px;
    margin-right: 10px;
}

.gora {
    background-color: grey;
    height: 10vh;
    width: 100%;
    display: grid;
}

#a{
    justify-self: center;
    align-self: center;
    background-color: yellow;
    width: 90%;
    text-align: center;
    color: red;
}

.srodek{
    background-color: red;
    color: white;
    height: 45vh;
    display: grid;
    line-height: 15vh;
}

.srodek > article{
    background-color: pink;
    height: 15vh;
    width: 90%;
    justify-self: center;
    align-self: center;
}


#dwa{
    text-align: left;
}

#jeden{
    text-align: right;
}


.dol{
    background-color: lime;
    color: darkslategrey;
    height: 45vh;
    display: grid;
    flex-direction: column;
}

.dol > article{
    background-color:orange;
    height: 5vh;
    width: 90%;
    line-height: 5vh;
}

#z{
    text-align: center;
    justify-self: center;
    align-self: center;
}

#x{
    width: 75%;
    text-align: left;
    align-self: center;
    margin-left: 5%;
}

#y{
    width: 50%;
    text-align: right;
    color: grey;
    margin-left: 5%;
    align-self: center;
}