body {
    margin: 0;
    text-align: center;
}
.lewy{
    width: 50%;
    height: 620px;
    float: left;
}
.prawy{
    width: 50%;
    height: 620px;
    float: right;
}


p {
    color: #020202;
    font-size: 150%;
    width: 20%;
    height: 10%;
    float: left;
}

#trojkat{
    clear: both;
    width: 150px;
    height: 150px;
    background-color: rgb(106, 127, 197);
    margin: auto;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-top: 10vh;
}

#zielony:hover ~ #trojkat{
    background-color: green;
}

#niebieski:hover ~ #trojkat {
    background-color: blue;
}


#czerwony:hover ~ #trojkat{
    background-color: red;
}


#zolty:hover ~ #trojkat {
    background-color: yellow;
}


#kwiatek {
    width: 100%;
    height: 620px;
    margin-left: 2.5%;
}

.kwia {
    background-color: #c18dd1;
    font-size: 150%;
    border: none;
    margin-top: 45px;
    padding: 5px;
    border-radius: 10%;

}

#kwiatek div {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: #e7bc82;
    position: relative;
}

.pla {
    background-color: #64327000 !important;
}

#pl1 {
    top: 11%;
    left: calc(50% - 5vh);
}

#pl2 {
    top: 6%;
    left: calc(50.5% - 15vh);
}

#pl3 {
    top: -9%;
    left: calc(49.5% + 5vh);
}

.sro {
    top: -20%;
    left: calc(50% - 5vh);
}

#pl4 {
    top: -24%;
    left: calc(43% - 5vh);
}

#pl5 {
    top: -38%;
    left: calc(55.5% - 5vh);
}

input:active ~ .pla { background-color: #c18dd1 !important; }